@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  --background-color: black;
  --font-color: white;
  --button-hover-color: gold;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Roboto";
}

#content {
  height: 100vh;
}

#content {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 0 100px 0 100px;
}

.image-small {
  width: 70px;
  padding: 10px;
  cursor: pointer;
}

.section-1 {
  flex: 0.5 1 0;
  display: flex;
  justify-content: center;
}

.section-2 {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  gap: 70px;
  color: var(--font-color);
  font-size: 1.5rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  color: var(--button-hover-color);
}

#center {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--font-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  margin: 0;
  padding: 10px 0;
}

/* Menu */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 1rem;
  margin-top: 80px;
}

.cocktail {
  width: 400px;
  box-shadow: 0 0 5px 10px black;
  cursor: pointer;
}

.cocktail-description {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--background-color);
  height: 216px;
  width: 356px;
  text-align: justify;
  padding: 20px;
  line-height: 1.25;
  border: solid var(--button-hover-color) 2px;
  box-shadow: 0 0 0 10px black;
  color: grey;
}
/* End of menu */

/* Contact */
.contact-description {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--background-color);
  height: 216px;
  width: 356px;
  margin-top: 100px;
  padding: 20px;
  border: solid var(--button-hover-color) 2px;
  box-shadow: 0 0 0 10px black;
  color: grey;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-top: 20px;
}
/* End of contact */

.image-large {
  width: 350px;
  position: relative;
  bottom: 50px;
}

#center > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  bottom: 65px;
  text-align: center;
  max-width: 500px;
  margin: 0 50px;
}

#center > div:last-child {
  font-size: 1rem;
  position: relative;
  bottom: 40px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: var(--font-color);
  background-color: var(--background-color);
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 50vw;
}

.social-media > * {
  cursor: pointer;
}

a {
  color: var(--font-color);
}

@media only screen and (max-width: 638px) {
  #header {
    padding-bottom: 10px;
  }
}
